body {
  color: white;
  padding: 0!important;
  background-color: #16a085;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  *{
    transform: scale(0.95);
  }
  h2{
    text-align: center;
  }
}
h2 {
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.interval-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.interval-length-container {
  display: flex;
}

button{
  background-color: #263646;
  border: none;
  outline: none;
  margin: 0 10px;
  width: 70px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  color: #eeeeee;
}
button:hover {
  background-color: #eeeeee;
  color: #263646;
}
button:disabled {
  cursor: not-allowed;
}
.icon {
  width: 100%;
  height: 15px;
}

.interval-length {
  font-size: 2rem;
  margin: 0 10px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #263646;
  margin: 40px;
  border-radius: 25px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}
#timer-label {
  opacity: 0.85
}
.timer {
  font-size: 4rem;
  font-weight: 500; 
}

.timer-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}